@model CarsVision.Web.ViewModels.Dealerships.SingleDealershipViewModel
@using CarsVision.Common
@{
    this.ViewData["Title"] = Model.DealershipInfo.Name;
}

<div class="container col-6 justify-content-center">
    <div class="row">
        <div>
            <img src="@Model.DealershipInfo.LogoPicture" class="mr-3 img-responsive d-block" alt="@Model.DealershipInfo.Name">
        </div>
        <div class="col">
            <h5>
                @Model.DealershipInfo.Name
            </h5>
            <div>
                <span>@Model.DealershipInfo.Location</span>
            </div>
            <div>
                <span>@Model.DealershipInfo.PhoneNumber</span>
            </div>
            <span>
                Dealership in CarsVision since
                @Model.DealershipInfo.CreatedOn.ToString("d")
            </span>
        </div>
        <div>
            @*<i class="fas fa-star text-secondary" onclick="rate(1, '@id')"></i>
                <i class="fas fa-star text-secondary" onclick="rate(2, '@id')"></i>
                <i class="fas fa-star text-secondary" onclick="rate(3, '@id')"></i>
                <i class="fas fa-star text-secondary" onclick="rate(4, '@id')"></i>
                <i class="fas fa-star text-secondary" onclick="rate(5, '@id')"></i>
                <span id="averageVoteValue">@Model.DealershipInfo.AverageVote.ToString("0.0")</span><span> / 5</span>*@
            <ul class="item-rating">
                <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                <li><span id="averageVoteValue">@Model.DealershipInfo.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
            </ul>
        </div>
    </div>
    @foreach (var car in Model.DealershipCars)
    {
        <hr class="bg-primary" />
        <div class="grad pb-2">
            <div class="row">
                <i class="ml-3">
                    @car.CreatedOn.ToString("M")
                </i>
            </div>
            <div class="row">
                <a asp-controller="Cars" asp-action="Id" asp-route-id="@car.Id" class="ml-4">
                    <img src="@car.PictureUrl" class="mr-3 img-responsive d-block img-thumbnail carItem" alt="@car.MakeName @car.ModelName">
                </a>
                <div class="col">
                    <h5>
                        <a asp-controller="Cars" asp-action="Id" asp-route-id="@car.Id">
                            @car.CarTitle
                        </a>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @if (!car.IsInWatchlist)
                            {
                                <a>
                                    <i class="far fa-heart float-right zoom text-primary" data-i-holder="@car.Id" onclick="AddToWatchlist(@car.Id)"></i>
                                </a>
                            }
                            else
                            {
                                <a>
                                    <i class="fas fa-heart float-right zoom text-primary" data-i-holder="@car.Id" onclick="AddToWatchlist(@car.Id)"></i>
                                </a>
                            }
                        }
                        <strong class="float-right mr-4">@Math.Truncate(@car.Price) @car.Currency</strong>
                    </h5>
                    <span>Prod. year - @car.Year... Mileage - @car.Mileage...</span>
                    <span>Color - @car.ColorName... Location - @car.Location...</span>
                    <span>Phone - @car.UserPhoneNumber</span>
                </div>
            </div>
        </div>
    }
</div>
<form method="post" id="antiForgeryForm"></form>
<hr />

@section scripts{ 
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var dealershipId = "@Model.DealershipInfo.Id";
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { dealershipId: dealershipId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                        console.log(data);
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-route-id="@Model.DealershipInfo.UserId" asp-route-page="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-route-id="@Model.DealershipInfo.UserId" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-route-id="@Model.DealershipInfo.UserId" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-route-id="@Model.DealershipInfo.UserId" asp-route-page="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>