@model CarsVision.Web.ViewModels.Cars.SingleCarViewModel
@using CarsVision.Common
@{
    this.ViewData["Title"] = Model.MakeName + " " + Model.ModelName;
    var apiKey = this.ViewData["MapApiKey"];
}

<div class="container" onpage>
    <div class="col">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-primary">
                    @Model.MakeName @Model.ModelName @Model.Modification
                </h4>
            </div>
            <div class="col">
                <strong class="float-left text-primary">@Math.Truncate(Model.Price) @Model.Currency</strong>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <i class="far fa-heart float-left zoom" data-i-holder="@Model.Id" onclick="AddToWatchlist(@Model.Id)"></i>
                }
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide row-cols-sm-1" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                @for (int i = 1; i < Model.PictureUrls.Count; i++)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                }
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/cars/@Model.PictureUrls.FirstOrDefault()" alt="First slide">
                </div>
                @for (int i = 1; i < Model.PictureUrls.Count; i++)
                {
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/cars/@Model.PictureUrls.ToList()[i]" alt="First slide">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h4 class="text-primary">
                    <span>@Model.MakeName @Model.ModelName @Model.Modification</span>
                    <span>@Math.Truncate(Model.Price) @Model.Currency</span>
                </h4>
            </div>
            @*<div class="col-sm-1">
                    <strong class="float-right text-primary">@Math.Truncate(Model.Price) @Model.Currency</strong>
                </div>*@
        </div>
        <div class="grid">
            <div class="row">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-chevron-right text-primary"></i>
                        </span>Production year @Model.Year
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-chevron-right text-primary"></i>
                        </span>Engine type @Model.EngineType
                    </li>
                    @if (Model.Power != 0)
                    {
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-chevron-right text-primary"></i>
                            </span>Power @Model.Power
                        </li>
                    }
                    @if (Model.Euro != "Unknown")
                    {
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-chevron-right text-primary"></i>
                            </span>Eurostandard @Model.Euro
                        </li>
                    }
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-chevron-right text-primary"></i>
                        </span>Gearbox @Model.Gearbox
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-chevron-right text-primary"></i>
                        </span>Mileage @Model.Mileage
                    </li>
                    @if (Model.ColorName != null)
                    {
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-chevron-right text-primary"></i>
                            </span>Color @Model.ColorName
                        </li>
                    }
                </ul>
                <div class="col-md-4 col-sm ml-3 mb-3 pb-3 border border-primary align-content-center">
                    <div class="col">
                        <div class="col">
                            <i class="fa fa-phone text-primary"></i>
                            <span>@Model.PhoneNumber</span>
                        </div>
                        @if (Model.IsDealership)
                        {
                            <div class="col">
                                <i class="fas fa-user-tie text-primary"></i>
                                <a target="_blank" asp-controller="Dealerships" asp-action="Id" asp-route-id="@Model.UserId">
                                    @Model.DealershipName
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <i class="fa fa-user text-primary"></i>
                                <span>Private person</span>
                            </div>
                        }
                        <div class="col">
                            <i class="fa fa-map-marker text-primary"></i>
                            <span>@Model.Location</span>
                        </div>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @if (this.User.Claims.FirstOrDefault().Value == Model.UserId)
                            {
                                <div class="row mr-2 justify-content-center align-bottom">
                                    <a class="form-control col-3 btn btn-primary mr-3" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                    <form method="post" asp-controller="Home" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                                    </form>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                </div>
                            }
                            else
                            {
                                <div class="row mr-2 mt-3 justify-content-center align-bottom">
                                    <form method="post" asp-controller="Cars" asp-action="SendToEmail" asp-route-id="@Model.Id">
                                        <button class="btn btn-outline-info">Send to my Email</button>
                                    </form>
                                </div>
                                <div class="row mr-2 mt-3 justify-content-center align-bottom">
                                    <button class="btn btn-outline-info" onclick="window.print()">Print</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Created on: @Model.CreatedOn</span>
        </div>
        <div class="col float-right">This ad has been visited @Model.Views times.</div>
    </div>
    <div class="row">
        <div class="col">
            <div>Description</div>
            <span>@Model.Description</span>
        </div>
    </div>
    <div id="map" style="width:400px; height:400px"></div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.MakeName @Model.ModelName"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
geocode('@Html.Raw(Json.Serialize(Model.Location))', @Html.Raw(Json.Serialize(apiKey)));
function geocode(locationString, apiKey) {
    var mapElement = document.getElementById("map");
    if (mapElement == undefined) {
        return;
    }
    var url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${locationString}.json`;
    axios.get(url, {
        params: {
            access_token: apiKey,
        }
    })
        .then(function (response) {
            let result = response["data"]["features"][0]["geometry"]["coordinates"];
            mapboxgl.accessToken = apiKey;

            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                center: result, // starting position [lng, lat]
                zoom: 13 // starting zoom
            });

            var marker = new mapboxgl.Marker()
                .setLngLat(result)
                .addTo(map);
        })
        .catch(function () {
            console.log(error);
        })
}
    </script>
}
