@model CarsVision.Web.ViewModels.Cars.CarPostViewModel
@using CarsVision.Common
@using System.Globalization
@{
    this.ViewData["Title"] = "Post Car";
}

<div class="form container ">
    <!-- Default form register -->
    <form method="post" class="text-center border border-light p-5" enctype="multipart/form-data">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Post Car</strong>
        </h5>

        <div class="form-row mb-3 text-left">
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Make</label>
                <select id="makes" name="make" class="form-control" onchange="LoadModels()">
                    <option value="All">All</option>
                    @foreach (var make in Model.Makes)
                    {
                        <option value="@make.Name">@make.Name</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Model</label>
                <select id="models" name="model" class="form-control">
                    <option value="All">All</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label>Modification</label>
                <input type="text" name="modification" class="form form-control" />
            </div>
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Engine type</label>
                <select name="EngineType" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.EngineType>()">
                </select>
            </div>
            <div class="col">
                <label class="text-required font-weight-bold">Condition</label>
                <select class="form-control">
                    <option value="used">Used</option>
                    <option value="new">New</option>
                    <option value="forparts">For parts</option>
                </select>

            </div>
        </div>

        <div class="form-row mb-3 text-left">
            <div class="col-sm-2">
                <label>Power [hp]</label>
                <input name="power" type="number" class="form-control mb-4">
            </div>
            <div class="col-sm-2">
                <label>Eurostandard</label>
                <select name="eurostandard" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.EuroStandard>()">
                </select>
            </div>
            <div class="col">
                <label class="text-required font-weight-bold">Gearbox</label>
                <select name="gearbox" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.Gearbox>()">
                </select>
            </div>
            <div class="col">
                <label class="text-required font-weight-bold">Category</label>
                <select name="category" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.Category>()">
                </select>
            </div>
        </div>

        <div class="form-row mb-3 text-left">
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Price</label>
                <input type="number" name="price" class="form-control" />
            </div>
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Currency</label>
                <select name="currency" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.Currency>()">
                </select>
            </div>
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Production month</label>
                <select name="month" class="form-control">
                    <option></option>
                    @foreach (var m in DateTimeFormatInfo.InvariantInfo.MonthNames)
                    {
                        <option value="@m">@m</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <label class="text-required font-weight-bold">Production year</label>
                <select name="year" class="form-control">
                    <option></option>
                    @for (int i = DateTime.UtcNow.Year; i >= 1930; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="text-required font-weight-bold">Mileage [km]</label>
                <input type="number" name="mileage" class="form-control" />
            </div>
        </div>
        <div class="form-row mb-3 text-left">
            <div class="col">
                <label>Color</label>
                <select name="color" class="form-control">
                    <option></option>
                    @foreach (var color in Model.Colors)
                    {
                        <option value="@color.Name">@color.Name</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="text-required font-weight-bold">Location</label>
                <input type="text" name="location" class="form-control" />
            </div>
            <div class="col">
                <label class="text-required font-weight-bold">Validity</label>
                <select name="validity" class="form-control">
                    <option value="35">35 Days</option>
                    <option value="49">49 Days</option>
                </select>
            </div>
        </div>
        <div class="form-row mb-3 text-left">
            <div class="col-6">
                <label>Description</label>
                <textarea name="description" class="form-control" rows="5"></textarea>
            </div>
            <div class="col-2 float-right">
                <label>Images</label>
                <input class="form form-control-file" type="file" multiple name="pictures" />
            </div>
        </div>
        <button class="btn btn-info my-4 btn-block" type="submit">Post</button>
    </form>
</div>
