@model CarsVision.Web.ViewModels.Home.HomeViewModel
@using CarsVision.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="form container">
    <form asp-action="Search" method="get" class="text-center border border-light p-5">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Search car</strong>
        </h5>
        <div class="form-row mb-3 text-left">
            <div class="col">
                <label>Make</label>
                <select id="makes" name="make" class="form-control" onchange="LoadModels()">
                    <option value="All">All</option>
                    @foreach (var make in Model.Data)
                    {
                        <option value="@make.Name">@make.Name</option>
                    }
                </select>
            </div>
            <div class="col">
                <label>Model</label>
                <select id="models" name="model" class="form-control">
                    <option value="All">All</option>
                </select>
            </div>
        </div>

        <div class="form-row mb-3 text-left">
            <div class="col-3">
                <label>Min. Price</label>
                <input name="minprice" type="number" class="form-control mb-4">
            </div>
            <div class="col-3">
                <label>Max. Price</label>
                <input name="maxprice" type="number" class="form-control mb-4">
            </div>
            <div class="col">
                <label>Year</label>
                <select name="year" class="form-control">
                    <option value="all">All</option>
                    @for (int year = DateTime.UtcNow.Year; year >= 1930; year--)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-row mb-3 text-left">
            <div class="col">
                <label>Engine type</label>
                <select name="EngineType" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.EngineType>()">
                </select>
            </div>
            <div class="col">
                <label>Gearbox</label>
                <select name="gearbox" class="form-control" asp-items="@Html.GetEnumSelectList<CarsVision.Data.Models.Gearbox>()">
                </select>
            </div>
        </div>
        <div class="form-row mb-3 text-left">
            <div class="col">
                <label>Order by</label>
                <select name="order" class="form-control">
                    <option value="Make/Model/Price">Make/Model/Price</option>
                    <option value="Price Asc.">Price Asc.</option>
                    <option value="Price Desc.">Price Desc.</option>
                    <option value="Mileage">Mileage</option>
                </select>
            </div>
        </div>
        <button class="btn btn-info my-4 btn-block" type="submit">Search</button>
    </form>

    <div class="text-center text-primary"><h3>Newest cars</h3></div>
    <div class="row">
        @foreach (var car in Model.Cars)
        {
            <div class="col-sm-3 mt-3">
                <div class="col align-content-sm-center">
                    <a class="" asp-controller="Cars" asp-action="Id" asp-route-id="@car.Id">
                        <img src="@car.PictureUrl" class="mr-3 img-responsive d-block img-thumbnail carItem" alt="@car.MakeName @car.ModelName">
                    </a>
                </div>
                <div class="col">
                    <h5>
                        <a asp-controller="Cars" asp-action="Id" asp-route-id="@car.Id">
                            @car.CarTitle
                        </a>
                    </h5>
                    <h5 class="font-weight-bold">
                        @if (car.Price >= 300)
                        {
                            @Math.Truncate(@car.Price) @car.Currency
                        }
                        else
                        {
                            <span>On negotiable</span>
                        }
                    </h5>
                    <div>Mileage @car.Mileage km</div>
                    <div>Location @car.Location</div>
                    <div>@car.CreatedOn.ToString("f")</div>
                </div>
            </div>
        }
    </div>
</div>
